![logo](logo/DaftCode_logo_854x210.jpg)

# 1. Eksploracja danych z Pythonem 

Ćwiczenia do tego tematu znajdziesz --> [TUTAJ](Zadania.ipynb)

## Pandas

    Import biblioteki i opcje formatowania wyświetlania w Jupyterze

In [ ]:
import pandas as pd
pd.set_option('max_rows', 10)

    Wczytanie danych, typ przechowywania

In [ ]:
dane = pd.read_csv('data/homework_data.csv')
type(dane)

    Dane możemy podejrzeć używając funkcji `head()` na obiekcie typu `DataFrame` z domyślnym parameterem n=5. Chcąc podejrzeć wszystkie kolumny modyfikujemy opcje w pandasie poleceniem:

```python
pd.set_option('max_columns', 233)
```

In [ ]:
dane.head()

    Każdy obiekt typu `DataFrame` ma pola `index` oraz `columns`. Oba są pandasowego typu `Index`, który można sprowadzić do podstawowego typu `list`.

In [ ]:
dane.columns

In [ ]:
dane.index

In [ ]:
dane.index.tolist()
dane.columns.tolist()

### Odwołania do kolumn i wierszy

### 1. Po nazwie

In [ ]:
col1 = dane['agent_type']
print type(col1)
col1

In [ ]:
col2 = dane[['agent_type', 'browser_string']]
print type(col2)
col2

### 2. pandasDataFrame.iloc

Odwołanie do elementu

In [ ]:
dane.iloc[0, 2]

Odwołanie do wiersza

In [ ]:
print type(dane.iloc[2])
dane.iloc[2]

Odwołanie do podramki

In [ ]:
print type(dane.iloc[[2,-5],[5, 10]])
dane.iloc[[2,-5],[5, 10]]

In [ ]:
print type(dane.iloc[-5,range(0,20,2)])
dane.iloc[-5,range(0,20,2)]

### 3. pandasDataFrame.loc

In [ ]:
dane.loc[0, 'cc_bin_number']

In [ ]:
dane.loc[0, ['cc_bin_number', 'api_call_datetime']]

In [ ]:
dane.loc[range(5), 'cc_bin_number']

## Operacje na obiektach typu `DataFrame` i `Series`

### DataFrame.dtypes

In [ ]:
dane.dtypes

Zauważmy, że komenda `dane.dtypes` zwraca obiekt typu `Series`. Możemy więc wykonywać na nim wszystkie operacje dopuszczalne na tym typie danych.

### Series.value_counts()

In [ ]:
dane.dtypes.value_counts()

In [ ]:
dane.dtypes.value_counts().value_counts()

## DataFrame.shape, Series.shape

In [ ]:
dane.shape, dane['received_at'].shape

## DataFrame.describe()

In [ ]:
dane.describe()
# dane.describe(percentiles=[0.2,0.8])

### DataFrame.select_dtypes()

In [ ]:
dane.select_dtypes(include=['float64'])

In [ ]:
dane.select_dtypes(include=[float])

### Series.str

In [ ]:
dane.columns.str.upper()

In [ ]:
dane.columns.str.contains('time')

In [ ]:
dane.columns.str.split('_')

### pd.as_datetime()

In [ ]:
time_col = dane['received_at']
pd.to_datetime(time_col)

In [ ]:
time_col = pd.to_datetime(time_col, format='%Y-%m-%d %H:%M:%S.%f')
time_col

In [ ]:
t1 = time_col.iloc[-10]
t1

In [ ]:
t1.weekday()

In [ ]:
t1.hour

## DataFrame.apply(), Series.apply(), DataFrame.applymap()

Uwaga: `apply` działa na obiektach typu `Series`. Wywołując `apply` na obiekcie `DataFrame` musimy podać kierunek działania, tzn, `axis=0` jeśli chcemy wykonać funkcję kolumnowo i `axis=1` jeśli wierszowo. Domyślną wartością jest `axis=0`.

In [ ]:
import math
dane['cc_bin_number'].apply(math.sqrt)

In [ ]:
dane['cc_bin_number'].apply(lambda x: x%2)

In [ ]:
dane.apply(lambda col: col.max())

In [ ]:
dane.apply(lambda row: row.min(), axis=1)

In [ ]:
dane.apply(lambda col: col.isnull())

In [ ]:
dane.apply(lambda col: col.isnull().all())

In [ ]:
dane.apply(lambda col: col.isnull().all()).mean()

In [ ]:
dane.applymap(pd.isnull)

## Szybkie wykresy w pandasie

In [ ]:
%matplotlib inline
dane[['input_ip_score', 'js_fonts_number']].boxplot()

In [ ]:
dane[['input_ip_score', 'js_fonts_number']].hist(bins=100)

I wiele wiele innych.
Zachęcamy do eksploracji tematu pod adresem: http://pandas.pydata.org/pandas-docs/stable/index.html.